
/*Global defaults - All Pages*/

@font-face {
    font-family: Minecraftia;
    src: url(fonts/Minecraftia.ttf);
}

body * {
    font-family: Minecraftia;
}

.minecraft-btn {
    outline: 2px solid black;
    background-image: url(images/button_center.png);
    background-repeat: repeat;
    text-align: center;
    color: white;
    font-size: 16px;
    text-shadow: 3px 3px #4C4C4C;
    box-sizing: border-box;
    border-bottom: 4px solid #565656;
    border-right: 2px solid #565656;
    border-left: 2px solid #AAA;
    border-top: 2px solid #AAA;
}

/*Header Section - All Pages*/

#header_section {
    box-sizing: border-box;
    height: 20vh;
    width: 100vw;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-logo {
    width: 25%;
}
.game-logo img {
    width: 100%;
}
.links {
    width: 25%;
    display: flex;
    flex-direction: column;
}

/*Main Section - All Pages*/

main {
    position: relative;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: #926E40;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0;
}
main.lose::before {
    background-image: url(images/surrounded_by_endermen.jpg);
    opacity: 1;
    transition-duration: 1s;
}
main.win::before {
    background-image: url(images/raining_diamonds.jpg);
    opacity: 1;
    transition-duration: 1s;
}

#stats_section,.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: auto;
    height: 90%;
    width: 20%;
    background-color: rgba(16, 11, 7, 0.9);
    z-index: 0;
}

.stats_category {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stats_category .label {
    font-size: 12px;
}

.stats_category .value {
    font-size: 12px;
    flex-shrink: 0;
    width: 90%;
}

.stats_category .value table {
    width: 100%;
}

.stats_category .value tr:nth-of-type(odd) {
    color: #FEFEFE;
}
.stats_category .value tr:nth-of-type(even) {
    color: #909090;
}

.stats_category .value tr>td:last-child,.stats_category .value tr>th:last-child{
    text-align: right;
}

.game-container {
    position: relative;
    height: 98%;
    width: 60%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*Game Area - index.html*/

#game-area {
    position: relative;
    height: 95%;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
}
main.lose #game-area,main.win #game-area {
    overflow: hidden;
}
.card {
    flex: 0 0 auto;
    position: relative;
    width: 12.5%;
    background-image: url("images/texture_bedrock.png");
    background-size: 100%;
    user-select: none;
}
main.win .card,main.lose .card {
    display: none;
}
.front {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.front>img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.card.cleared .front {
    visibility: hidden;
}
.back {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
    transition-delay: 0.01s;
    -webkit-user-select: none;
    user-select: none;
}
.back>img {
    width: 100%;
}
.back>div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: none;
    z-index: 2;
}
@keyframes see-block {
    0% {background-color: black; opacity: 0.5}
    100% {background-color: black; opacity: 0}
}
.card.appearing .back>div {
    animation-name: see-block;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.card:not(.breakable) .back>div {
    background-color: black;
    opacity: 0.5;
}
#game-area:not(.freeze-flips) .card.breakable:not(.flipped):not(.cleared):hover .back>div {
    border: 1px solid black;
}
@keyframes break-block {
    0% {background-image: none;}
    10%  {background-image: url(images/texture_break_0.png);}
    20%  {background-image: url(images/texture_break_1.png);}
    30%  {background-image: url(images/texture_break_2.png);}
    40%  {background-image: url(images/texture_break_3.png);}
    50%  {background-image: url(images/texture_break_4.png);}
    60%  {background-image: url(images/texture_break_5.png);}
    70%  {background-image: url(images/texture_break_6.png);}
    80%  {background-image: url(images/texture_break_7.png);}
    90%  {background-image: url(images/texture_break_8.png);}
    100%  {background-image: url(images/texture_break_9.png);}
}
#game-area:not(.freeze-flips) .card.breakable:hover:active .back {
    transition-delay: 1s;
    opacity: 0;
}
#game-area:not(.freeze-flips) .card.breakable:hover:active .back>div {
    animation-name: break-block;
    animation-duration: 1s;
}
.card.flipped .back,.card.cleared .back {
    display: none;
}
.game-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
main.lose .game-message,main.win .game-message {
    display: block;
}
main.lose .game-message {
    background-image: url(images/game_lose.png);
}

main.win .game-message {
    background-image: url(images/game_win.png);
}

/*Game HUD - index.html*/

.game-hud {
    width: 42%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: stretch;
}
.armor-breath-row,.health-hunger-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.armor-bar,.health-bar {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.breath-bar,.hunger-bar {
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.armor-bar,.breath-bar {
    margin-bottom: 3%;
}
.health-bar,.hunger-bar {
    margin-bottom: 3%;
}
.armor,.breath,.heart,.hunger {
    width: 10%;
}
.armor img,.breath img,.heart img,.hunger img {
    width: 110%;
}
.hotkey-bar-row {
    position: relative;
}
.hotkey-bar-row img {
    width: 100%;
}
.hotkey-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hotkey {
    height: 100%;
}

/*Contact Section - about.html*/

.contact-section,.contact-section a {
    color: white;
    text-decoration: none;
}

/*Profile Section - about.html*/

.profile-section {
    height: 90%;
    width: 60%;
    background-color: black;
    color: white;
    padding: 20px 40px;
}
.left-figure {
    float: left;
    margin: 20px 40px 10px 0;
    border: 1px inset black;
}
.portrait {
    height: 345px;
    display: block;
}
.left-figure figcaption {
    text-indent: 1em;
    border-top: 1px solid black;
    padding: 5px;
}
.profile-section article {
    float: none;
}