
/*Header Section - All Pages*/

#header_section {
    box-sizing: border-box;
    height: 20vh;
    width: 100vw;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-logo {
    width: 25%;
}
.game-logo img {
    width: 100%;
}
.links {
    width: 25%;
    display: flex;
    flex-direction: column;
}

/*Main Section - All Pages*/

main {
    position: relative;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: #926E40;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
main::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0;
}
main.lose::before {
    background-image: url(images/surrounded_by_endermen.jpg);
    opacity: 1;
    transition-duration: 1s;
}
main.win::before {
    background-image: url(images/raining_diamonds.jpg);
    opacity: 1;
    transition-duration: 1s;
}

#stats_section,.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 90%;
    width: 20%;
    background-color: gray;
    z-index: 0;
}
.game-container {
    position: relative;
    height: 95%;
    width: 60%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Game Area - index.html*/

#game-area {
    position: relative;
    height: 95%;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none;
}
main.lose #game-area,main.win #game-area {
    overflow: hidden;
}
.card {
    flex: 0 0 auto;
    position: relative;
    width: 12.5%;
    background-image: url("images/texture_bedrock.png");
    background-size: 100%;
    user-select: none;
}
main.win .card,main.lose .card {
    display: none;
}
.front {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.front>img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.card.cleared .front {
    visibility: hidden;
}
.back {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
    transition-delay: 0.01s;
    -webkit-user-select: none;
    user-select: none;
}
.back>img {
    width: 100%;
}
.back>div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: none;
    z-index: 2;
}
@keyframes see-block {
    0% {background-color: black; opacity: 0.5}
    100% {background-color: black; opacity: 0}
}
.card.appearing .back>div {
    animation-name: see-block;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.card:not(.breakable) .back>div {
    background-color: black;
    opacity: 0.5;
}
#game-area:not(.freeze-flips) .card.breakable:not(.flipped):not(.cleared):hover .back>div {
    border: 1px solid black;
}
@keyframes break-block {
    0% {background-image: none;}
    10%  {background-image: url(images/texture_break_0.png);}
    20%  {background-image: url(images/texture_break_1.png);}
    30%  {background-image: url(images/texture_break_2.png);}
    40%  {background-image: url(images/texture_break_3.png);}
    50%  {background-image: url(images/texture_break_4.png);}
    60%  {background-image: url(images/texture_break_5.png);}
    70%  {background-image: url(images/texture_break_6.png);}
    80%  {background-image: url(images/texture_break_7.png);}
    90%  {background-image: url(images/texture_break_8.png);}
    100%  {background-image: url(images/texture_break_9.png);}
}
#game-area:not(.freeze-flips) .card.breakable:hover:active .back {
    transition-delay: 1s;
    opacity: 0;
}
#game-area:not(.freeze-flips) .card.breakable:hover:active .back>div {
    animation-name: break-block;
    animation-duration: 1s;
}
.card.flipped .back,.card.cleared .back {
    display: none;
}
.game-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
main.lose .game-message,main.win .game-message {
    display: block;
}
main.lose .game-message {
    background-image: url(images/game_lose.png);
}

main.win .game-message {
    background-image: url(images/game_win.png);
}

/*Game HUD - index.html*/

.game-hud {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.armor-breath-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.health-hunger-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hotkey-bar-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hotkey-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(images/ui_hotbar.png);
}
.hotkey {
    height: 44px;
    width: 44px;
}

/*Contact Section - about.html*/

.contact-section,.contact-section a {
    color: white;
    text-decoration: none;
}

/*Profile Section - about.html*/

.profile-section {
    height: 90%;
    width: 60%;
    background-color: black;
    color: white;
    padding: 20px 40px;
}
.left-figure {
    float: left;
    margin: 20px 40px 10px 0;
    border: 1px inset black;
}
.portrait {
    height: 345px;
    display: block;
}
.left-figure figcaption {
    text-indent: 1em;
    border-top: 1px solid black;
    padding: 5px;
}
.profile-section article {
    float: none;
}