
/*Header Section - All Pages*/

#header_section {
    box-sizing: border-box;
    height: 20vh;
    width: 100vw;
    background-color: lightcyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: column;
}

/*Main Section - All Pages*/

main {
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: #725A40;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#stats_section,.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 90%;
    width: 20%;
    background-color: gray;
}

/*Game Area - index.html*/

#game-area {
    height: 95%;
    width: 60%;
    align-self: flex-start;
    background-image: url("images/texture_bedrock.png");
    background-repeat: repeat;
    background-size: 16.6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow: scroll;
    -webkit-user-select: none;
    user-select: none;
}
.card {
    flex: 0 0 auto;
    position: relative;
    width: 16.6%;
    background-image: url("images/texture_bedrock.png");
    background-size: 100%;
    user-select: none;
}

.front {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.front>img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    -webkit-user-select: none;
    user-select: none;
}
.card.cleared .front {
    visibility: hidden;
}
.back {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
    transition-delay: 0.01s;
    -webkit-user-select: none;
    user-select: none;
}
.card.breakable:hover:active .back {
    transition-delay: 1s;
    opacity: 0;
}
.back>img {
    width: 100%;
}
@keyframes break-block {
    0% {background-image: none;}
    10%  {background-image: url(images/texture_break_0.png);}
    20%  {background-image: url(images/texture_break_1.png);}
    30%  {background-image: url(images/texture_break_2.png);}
    40%  {background-image: url(images/texture_break_3.png);}
    50%  {background-image: url(images/texture_break_4.png);}
    60%  {background-image: url(images/texture_break_5.png);}
    70%  {background-image: url(images/texture_break_6.png);}
    80%  {background-image: url(images/texture_break_7.png);}
    90%  {background-image: url(images/texture_break_8.png);}
    100%  {background-image: url(images/texture_break_9.png);}
}
.back>div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: none;
    z-index: 2;
}
#game-area:not(.freeze-flips) .card.breakable:hover:active .back>div {
    animation-name: break-block;
    animation-duration: 1s;
}
.card.flipped .back {
    display: none;
}
.card.cleared {
    visibility: hidden;
}

/*Contact Section - about.html*/

.contact-section,.contact-section a {
    color: white;
    text-decoration: none;
}

/*Profile Section - about.html*/

.profile-section {
    height: 90%;
    width: 60%;
    background-color: black;
    color: white;
    padding: 20px 40px;
}
.left-figure {
    float: left;
    margin: 20px 40px 10px 0;
    border: 1px inset black;
}
.portrait {
    height: 345px;
    display: block;
}
.left-figure figcaption {
    text-indent: 1em;
    border-top: 1px solid black;
    padding: 5px;
}
.profile-section article {
    float: none;
}